# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/Vulkan_PBR
/Base/x64/Debug
/x64/Debug/Vulkan_PBR.vcxproj.FileListAbsolute.txt
/x64/Debug/Vulkan_PBR.pdb
*.ilk
/x64/Debug/Vulkan_PBR.log
*.log
*.recipe
/x64/Debug/vc143.pdb
/x64/Debug/vc143.idb
*.ini
/x64/Debug/Vulkan_PBR.tlog/CL.command.1.tlog
/x64/Debug/Vulkan_PBR.tlog/CL.read.1.tlog
/x64/Debug/Vulkan_PBR.tlog/CL.write.1.tlog
/x64/Debug/Vulkan_PBR.tlog/link.write.1.tlog
/x64/Debug/Vulkan_PBR.tlog/link.read.1.tlog
/JSON/Schemas/Catalog/https%003A%002F%002Fgo.microsoft.com%002Ffwlink%002F%003Flinkid%003D835884
